body {
    background-color: #e8e9e8;
	font-family: Arial, Tahoma, Verdana, Helvetica, Century Gothic, sans-serif;
	margin: 0px auto;
	max-width:800px;
	border: 0px;
	border-color:#DDDDDD;
	border: 1px solid #000;
}

header{	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #091430),
		color-stop(0.57, #194083),
		color-stop(1, #031026)
	);
    background-image: -o-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -moz-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -webkit-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -ms-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: linear-gradient(to bottom, #091430 0%, #194083 57%, #031026 100%);

	display: block;
	color: white;
	text-align: center;
	margin: 0px;
	padding: 10px;	
}

header div{	
	display: inline-block;
	width: 30%
	text-align: center;
}

header div img{
	max-width:100%;
	height:auto;
}

header #title{
	margin: 1em;
	vertical-align: top;
	padding: 0 10% 0 10%;
}

header #title h1{
	font-size: 1.5em;
	margin-bottom: 0px;
	font-weight: normal;
}

header #title p{
	font-size: .7em;
	margin-top: 0px;
	text-align: left;
}

header div img{
	max-width: 100%;
}


/* Menú */
nav{
	text-align: center;
	margin: 0px;
	padding: 0px;	
}

nav ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
	list-style-type:none;	
}

/*Create a horizontal list with spacing*/
nav ul li {
	display: inline-block;
	float: left;
	width: 12.5%;
}

nav ul li a{
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #161e40;
	text-decoration: none;
	font-size: .8em;
	width: 100%;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.42, #CACAD1),
		color-stop(0.55, #B2B4BD),
		color-stop(1, #C9C7C9)
	);
	background-image: -o-linear-gradient(bottom, #CACAD1 42%, #B2B4BD 55%, #C9C7C9 100%);
	background-image: -moz-linear-gradient(bottom, #CACAD1 42%, #B2B4BD 55%, #C9C7C9 100%);
	background-image: -webkit-linear-gradient(bottom, #CACAD1 42%, #B2B4BD 55%, #C9C7C9 100%);
	background-image: -ms-linear-gradient(bottom, #CACAD1 42%, #B2B4BD 55%, #C9C7C9 100%);
	background-image: linear-gradient(to bottom, #CACAD1 42%, #B2B4BD 55%, #C9C7C9 100%);

	display: inline-block;
}

/*Hover state for top level links*/
nav ul li:hover a {
	/*background: #19c589;*/
	color: #FFF;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #4A5061),
	color-stop(1, #373738)
);
background-image: -o-linear-gradient(bottom, #4A5061 0%, #373738 100%);
background-image: -moz-linear-gradient(bottom, #4A5061 0%, #373738 100%);
background-image: -webkit-linear-gradient(bottom, #4A5061 0%, #373738 100%);
background-image: -ms-linear-gradient(bottom, #4A5061 0%, #373738 100%);
background-image: linear-gradient(to bottom, #4A5061 0%, #373738 100%);
}



#main{
	background-color: #FFF;
	background-color: #FFFFFF;
	min-height: 300px;
}

#main .home-slogan{
	background-color: #e8e9e8;
	font-size: .7em;
	padding: 1em;
	margin: 0;
}


#main_section{
	display: block;
	margin: 0em;
}


.leftColumn, .rightColumn{
	display: inline-block;
	vertical-align: top;
	padding: 1em;
	margin: 0;
	width: 45%;
}
/*
#main_section{
	margin: 0em;
    position: relative;
}

@media screen and (min-width: 43.5em) {
	.leftColumn {
	    margin-right: 24.5em;
	    padding: 1em;
	    vertical-align: top;

	}
	.rightColumn {
	    position: absolute;
	    right: 0;
	    top: 1em;
	    width: 23.75em;
	    vertical-align: top;
	}
}
*/

#main div aside{
	background-image: url("../img/back_aside.jpg");
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 1em 1em 4em 1em;
	vertical-align: top;
}

#main div aside img{
	max-width: 100%;
}

#main div aside h2{
	color: #0d93ff;
	font-weight: normal;
	font-size: .8em;
	text-align: left;
	margin: 3em 1em 1em 1em;
}

.captions{
	text-align: left;
	height: 6em;
}

.captions span{
	display: block;
}

#main div aside h3, .captions .title{
	color: #FFF;
	font-weight: normal;
	font-size: .7em;	
	margin: 1em;
}

.captions .slide-desc{
	color: #d4d4d2;
	font-weight: normal;
	font-size: .7em;
	text-align: left;
	margin: 1em;
}

.slider{
	min-height: 300px;
}

.flexslider ul li .flex-caption{
	display: none;
}

/* Footer */

footer{	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #091430),
		color-stop(0.57, #194083),
		color-stop(1, #031026)
	);
    background-image: -o-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -moz-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -webkit-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: -ms-linear-gradient(bottom, #091430 0%, #194083 57%, #031026 100%);
    background-image: linear-gradient(to bottom, #091430 0%, #194083 57%, #031026 100%);

	display: block;
	color: white;
	text-align: center;
	margin: 0px;
	padding: 10px;	
}

#links ul{
	margin: 0px;
	text-align: center;
	padding-top: 3px;
}

#links ul li{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

#links{
	background-image: url("../img/links_background.png");
	height: 25px;
	background-color: #fff;
}

#links ul li a{
	color: #161e40;
    font-family: Arial;
    font-size: .8em;
    font-weight: normal;
    text-decoration: none;
}

#links ul li a:hover{
    text-decoration: underline;
}

footer .subsection{
	display: inline-block;
	text-align: center;
	padding: 0px;
	padding: 0 1% 0 1%;
	width: 30%;
	vertical-align: bottom;
}

footer h2{
	font-size: .8em;
	font-weight: normal;
}

footer p{
	font-size: .7em;
	font-weight: normal;
	text-align: left;
	margin-top: 0px;
	padding-left: 10px;
}

footer .address{
	text-align: right;
	color: #D4D4D2;
}

footer img{
	max-width:100%;
	height: auto;
}